<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link href="{{ url_for('static', filename='css/materialize.css') }}" rel="stylesheet" media="screen,projection">
    <!-- Import weather icons -->
    <link href="{{ url_for('static', filename='css/weather-icons.css') }}" rel=" stylesheet">
    <!-- Import Animate.css -->
    <link href="{{ url_for('static', filename='css/animate.css') }}" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <!-- Top Section -->
    <div class="container">
        <div class="row">
            {% block topcard %}{% endblock %}
        </div>
    </div>
    <hr>
    <!-- Bottom Section -->
    <div class="container">
        <div class="row center">
            {% block detailedcards %}{% endblock %}
        </div>
    </div>

    <!--JavaScript at end of body for optimized loading-->
    <script src="{{ url_for('static', filename='js/materialize.min.js') }}" type=" text/javascript"> </script>
</body>

</html>
