<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link href="{{ url_for('static', filename='css/materialize.css') }}" rel="stylesheet" media="screen,projection">
    <!-- Import weather icons -->
    <link href="{{ url_for('static', filename='css/weather-icons.css') }}" rel=" stylesheet">
    <!-- Import Animate.css -->
    <link href="{{ url_for('static', filename='css/animate.css') }}" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col s12 m6">
                <!-- Weather Card -->
                <div class="card blue-grey darken-4 center">
                    <div class="card-content white-text">
                        <span class="card-title"><i class="medium material-icons">ac_unit</i></span>
                        <p>It's cold today</p>
                    </div>
                    <div class="card-action white-text">
                        <i class="small material-icons">ac_unit</i>
                        <i class="small material-icons">brightness_5</i>
                        <i class="small material-icons">cloud_queue</i>
                        <i class="small material-icons">wb_sunny</i>
                        <i class="small material-icons">wb_cloudy</i>
                    </div>
                </div>
                <!-- End weather card -->
            </div>

            <!-- Second card -->
            <div class="col s12 m6">
                <div class="card blue-grey darken-4 center">
                    <div class="card-content white-text">
                        <span class="card-title"><i class="medium material-icons">access_time</i></span>
                        <p>
                            I don't know what's gonna go here
                        </p>
                    </div>
                    <div class="card-action white-text">
                        <p>This is where icons and stuff will go.</p>
                    </div>
                </div>
            </div>
            <!-- End second card -->
        </div>
        <!-- End weather card -->
    </div>

    <hr>
    <div class="container">
        <div class="row center">
            <div class="col s3 m3 animated fadeIn">
                <div class="card-panel light-blue darken-1 hoverable white-text">
                    <span><i class="wi wi-day-snow"></i>
                        <br>
                        <h4><span>{{ wdescrip }}</span></h>
                            <br>
                            <h5><span>{{ wtemp }}</span></h5>
                    </span>
                    <span class="small">
                        <h6>
                            <span>{{ mintemp }}</span>
                            |
                            <span>{{ maxtemp }}</span>
                        </h6>
                    </span>
                    <br>
                    <span class="small">
                        <h6>
                            <em>{{ wcity }}</em>
                        </h6>
                    </span>
                </div>
            </div>

            <div class="col s3 m3 animated fadeIn">
                <div class="card-panel lime accent-1 hoverable black-text">
                    <span><i class="wi wi-day-sunny"></i>
                        <br>
                        <h4><span>{{ wdescrip }}</span></h>
                            <br>
                            <h5><span>{{ wtemp }}</span></h5>
                    </span>
                    <span class="small">
                        <h6>
                            <span>{{ mintemp }}</span>
                            |
                            <span>{{ maxtemp }}</span>
                        </h6>
                    </span>
                    <br>
                    <span class="small">
                        <h6>
                            <em>{{ wcity }}</em>
                        </h6>
                    </span>
                </div>
            </div>

            <div class="col s3 m3 animated fadeIn">
                <div class="card-panel light-blue darken-4 hoverable white-text">
                    <span><i class="wi wi-day-rain"></i>
                        <br>
                        <h4><span>{{ wdescrip }}</span></h>
                            <br>
                            <h5><span>{{ wtemp }}</span></h5>
                    </span>
                    <span class="small">
                        <h6>
                            <span>{{ mintemp }}</span>
                            |
                            <span>{{ maxtemp }}</span>
                        </h6>
                    </span>
                    <br>
                    <span class="small">
                        <h6>
                            <em>{{ wcity }}</em>
                        </h6>
                    </span>
                </div>
            </div>

            <div class="col s3 m3 animated fadeIn">
                <div class="card-panel indigo lighten-4 hoverable black-text">
                    <span><i class="wi wi-day-windy"></i>
                        <br>
                        <h4><span>{{ wdescrip }}</span></h>
                            <br>
                            <h5><span>{{ wtemp }}</span></h5>
                    </span>
                    <span class="small">
                        <h6>
                            <span>{{ mintemp }}</span>
                            |
                            <span>{{ maxtemp }}</span>
                        </h6>
                    </span>
                    <br>
                    <span class="small">
                        <h6>
                            <em>{{ wcity }}</em>
                        </h6>
                    </span>
                </div>
            </div>

            <div class="col s3 m3">
                <div class="card-panel blue-grey darken-1 hoverable">
                    <span class="white-text">-
                        <br>
                        <span>-</span>
                        <br>
                        <span>-°</span>
                    </span>
                </div>
            </div>

            <div class="col s3 m3">
                <div class="card-panel blue-grey darken-1 hoverable">
                    <span class="white-text">-
                        <br>
                        <span>-</span>
                        <br>
                        <span>-°</span>
                    </span>
                </div>
            </div>

            <div class="col s3 m3">
                <div class="card-panel blue-grey darken-1 hoverable">
                    <span class="white-text">-
                        <br>
                        <span>-</span>
                        <br>
                        <span>-°</span>
                    </span>
                </div>
            </div>

            <div class="col s3 m3">
                <div class="card-panel blue-grey darken-1 hoverable">
                    <span class="white-text">-
                        <br>
                        <span>-</span>
                        <br>
                        <span>-°</span>
                    </span>
                </div>
            </div>

        </div>
    </div>
    </div>
    </div>
    </div>

    <!--JavaScript at end of body for optimized loading-->
    <script src="{{ url_for('static', filename='js/materialize.min.js') }}" type=" text/javascript"> </script>
</body>

</html>
